<div class="container">
  <div class="alert alert-primary" role="alert">
    O Aluno {{ nome }} adicionado
  </div>

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" />
  </div>

  <button
    type="button"
    class="btn btn-primary"
    (click)="adicionar()"
    [disabled]="nome.length == 0"
  >
    Adicionar
  </button>

    <div class="row">
    <div class="col-2 p-3" *ngFor="let a of alunos">
        <app-aluno-card [aluno]="a"></app-aluno-card>
    </div>
  </div>
</div>
